* {
  margin: 0;
  padding: 0;
}

.header-fa {
  background-color: #F55A5A;
  width: 100%;
  height: 55px;
 
  font-family: inter;
  font-size: 8.46px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

  
}

.header-fa h1 {
  color: white;
  padding: 10px;
}

.header-fa img {
  width: 24px;
  height: 24px;
}

.card {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  
  justify-content: center;
  font-family: inter;
  word-wrap: break-word;
  
}
.card p {
  font-size: 10px;
  word-wrap: break-word;
  width: 400px;
}
.card img{
  width: 125px;
  height: 168px;
  margin-right: 10px;
  border-radius: 5px;
}

#locationlogo {
  height: 9px;
  width: 7px;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  
}

.location h2{
  font-size: 10px;
  text-transform: uppercase;
  
  margin-right: 10px;
}

.location a {
  color: #918E9B;
}

span {
  font-weight: 700;
  
}

.card-desc h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-desc p {
  margin-bottom: 5px;
}